<h2>Base</h2>

<h1>h1 Title</h1>
<h1>h2 Subtitle</h1>
<h1>h3 Subtitle</h1>
<h1>h4 Subtitle</h1>
<h1>h5 Subtitle</h1>
<h1>h6 Subtitle</h1>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique excepturi nulla pariatur distinctio inventore rerum 
    cumque officia! Optio aperiam repellat recusandae delectus magnam dolorem ea odio? Maxime quo voluptas molestias?
</p>

<h3>Links</h3>

<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>

<h3>Button</h3>

<button class="app-button">Button</button>

<h3>Code</h3>

<code>const parameter = 42;</code>

<h3>Input</h3>

<input type="text" class="app-input" />

<h2>Mixins</h2>

<h3>Shadow</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>
