<div class="header">
    <div class="header__title">Jobs App</div>
    <div class="header__navigation">
        <a 
            routerLink="demo" 
            routerLinkActive="app-a_active" 
            class="app-a"
        >
            Demo
        </a>
        <a
            *ngIf="!(isSignedIn$ | async)" 
            routerLink="auth/login" 
            routerLinkActive="app-a_active" 
            class="app-a"
        >
            Log In
        </a>
        <a 
            *ngIf="!(isSignedIn$ | async)" 
            routerLink="auth/registration" 
            routerLinkActive="app-a_active" 
            class="app-a"
        >
            Registration
        </a>
    </div>
</div>
