<div class="app-page">
    <div class="app-page__header">
        <h1>Welcome!</h1>
    </div>

    <div class="app-page__content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis saepe, 
            ducimus ea deserunt dolores architecto explicabo repellat laudantium beatae omnis expedita minus nam officiis? 
            Nostrum praesentium numquam fugiat quam dolore.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis saepe, 
            ducimus ea deserunt dolores architecto explicabo repellat laudantium beatae omnis expedita minus nam officiis? 
            Nostrum praesentium numquam fugiat quam dolore.
        </p>
    </div>
</div>
